#wrapperHeader{
    position: relative;
    background-image:url(images/header.png);
}

#header{
    left: 50%;
    margin-left: -500px;
    background:url(https://cloud.githubusercontent.com/assets/13873228/9368583/06aeb510-46bc-11e5-9db7-0b38b1977995.png) no-repeat;
    width:1000px;
    height:200px;
}
