#background{
    background-image: url("https://cloud.githubusercontent.com/assets/13873228/9384537/0439e47a-4749-11e5-885b-d3a3b78c14cc.png");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgWindowLarge {
  height: 100vh;
  background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  background-image: url("https://cloud.githubusercontent.com/assets/13873228/9384537/0439e47a-4749-11e5-885b-d3a3b78c14cc.png");
}
.bgWindowSmall {
  height: 40vh;
  background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  background-image: url("https://cloud.githubusercontent.com/assets/13873228/9384537/0439e47a-4749-11e5-885b-d3a3b78c14cc.png");
}
.imgTitle {
    text-align: center, center;
    color: white;

h1 {
    text-align: center;
     font-family: Sans-serif, Monospace;
}
h2 {
    text-align: center;
     font-family: Sans-serif, Monospace;
}
h3 {
    text-align: center;
     font-family: Sans-serif, Monospace;
}
p {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
}
IMG.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
p.red em {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
    color: red;
}
p.blue em {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
    color: blue;
}
p.purple em {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
    color: purple;
}
p.red {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
}
p.blue {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
    color: blue;
}
p.purple {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}




