.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #977EBD;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #977EBD;
    color: #FFFFFF;
}


.bgWindowCmd {
height: 20vh;
  background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  background-image: url("https://cloud.githubusercontent.com/assets/13873228/9389590/d72a04b8-4763-11e5-87f9-2386bb0bbbe2.jpeg");
  font-size: 0;
 }
.fixed {
    position: fixed;
}
.bgWindowLarge {
  height: 100vh;
  background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-size: 0;
  background-image: url("https://cloud.githubusercontent.com/assets/13873228/9384537/0439e47a-4749-11e5-885b-d3a3b78c14cc.png");
}
.bgWindowDownloads {
  height: 20vh;
  background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  background-image: url("https://cloud.githubusercontent.com/assets/13873228/9390147/3e74f9d6-4767-11e5-96ff-666765c2473e.png");
  font-size: 0;
}
.bgWindowSmall {
  height: 20vh;
  background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  background-image: url("https://cloud.githubusercontent.com/assets/13873228/9384537/0439e47a-4749-11e5-885b-d3a3b78c14cc.png");
  font-size: 0;
}
.bgWindowCode {
     height: 20vh;
  background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  background-image: url("https://cloud.githubusercontent.com/assets/13873228/9386878/8167c690-4755-11e5-96f2-8d9c3ae8ec7f.png");
  font-size: 0;
}
.imgTitle {
    text-align: center;
    vertical-align: middle;
    color: white;
}
.whiteTitle {
    text-align: center;
     font-family: Sans-serif, Monospace
     color: white;
     size:30px;
}
.blackTitle {
    text-align: center;
     font-family: Sans-serif, Monospace
     color: black;
     size:30px;
}
.black {
    text-align: center;
     font-family: Sans-serif, Monospace
     color: black;
     size:20px;
}
.mainTitle {
    text-align: center;
     font-family: Sans-serif, Monospace
     color: white;
     size:40px;
}
h1 {
    text-align: center;
     font-family: Sans-serif, Monospace
     color: white;
}
h2 {
    text-align: center;
     font-family: Sans-serif, Monospace;
     color: white;
}
h3 {
    text-align: center;
     font-family: Sans-serif, Monospace;
     color: white;
}
.normal {
    text-align: center;
    font-family: Sans-serif, Monospace;
   color: black;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*

Colours!!!!!

*/
p.red em {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
    color: red;
}
p.blue em {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
    color: blue;
}
p.purple em {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
    color: purple;
}
p.red {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
}
p.blue {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
    color: blue;
}
p.purple {
    text-align: center;
    font-family: Sans-serif, Monospace;
    size: 20px;
}




